* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: #fff;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 1rem;
  z-index: 9999;
}
header .logo {
  flex: 1;
  font-size: x-large;
  font-weight: 600;
  color: lightgray;
}
header .logo span {
  color: gray;
  margin-left: 15px;
}
header .nav-links {
  flex: 2;
}
header .nav-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
header .nav-links ul li {
  margin: 0 1rem;
}
header .nav-links ul li a {
  color: #fff;
  text-decoration: none;
  color: lightgray;
}
header .nav-links ul li a:hover {
  text-decoration: underline;
  color: #0c5ba9;
}
header .auth-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: lightgray;
}
header .auth-buttons button {
  background: #789DD8;
  border: none;
  color: #fff;
  padding: 18px 30px 18px 30px;
  margin-left: 1.5rem;
  color: lightgray;
  border-radius: 10px;
  cursor: pointer;
}
header .auth-buttons button:hover {
  background: #0c5ba9;
}
header .burger-menu button {
  background: #789DD8;
  border: none;
  color: #fff;
  padding: 18px 30px 18px 30px;
  margin-left: 1.5rem;
  color: lightgray;
  border-radius: 10px;
  cursor: pointer;
}
header .burger-menu button:hover {
  background: #0c5ba9;
}

.burger-menu {
  display: none;
}

@media (max-width: 960px) {
  .nav-links, header .auth-buttons {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .nav-links.mobile {
    display: block;
    position: absolute;
    top: 60px; /* Adjust depending on header height */
    left: 0;
    width: 100%;
    background: #1074D8;
  }
  .nav-links.mobile ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-links.mobile ul li {
    margin: 1rem 0;
  }
}
.sectionOne {
  background: white;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sectionOne svg {
  position: relative;
}
.sectionOne .container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 40px;
  width: 75%;
  height: 100%;
}
.sectionOne .container .content {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.sectionOne .container .content h2 {
  font-weight: 800;
  font-size: 44px;
}
.sectionOne .container .content p {
  font-weight: 300;
  font-size: 36px;
}
.sectionOne .container .content button {
  width: 25%;
  padding: 2%;
  background-color: #789DD8;
  border-radius: 10px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}
.sectionOne .container img {
  position: absolute;
  width: 60%;
  right: 0%;
  top: 25%;
}

@media (max-width: 1300px) {
  .sectionOne .container .content .title {
    font-size: 15px;
  }
  .sectionOne .container .content .subtitle {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  .sectionOne .container .content .title {
    font-size: 10px;
  }
  .sectionOne .container .content .subtitle {
    font-size: 8px;
  }
  .sectionOne .container .content button {
    font-size: 8px;
  }
}
.sectionTwo {
  background: white;
  color: #fff;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
}
.sectionTwo .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
  width: 70%;
  height: 100%;
}
.sectionTwo .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;
  width: 360px;
  height: 310px;
  border-radius: 15px;
  box-shadow: 14px 8px 20px 0px rgba(0, 0, 0, 0.0784313725);
}
.sectionTwo .card h2 {
  color: black;
  font-weight: 700;
}
.sectionTwo .card p {
  width: 65%;
  color: black;
  font-weight: 300;
  align-items: center;
}
.sectionTwo .card a {
  color: #1074D8;
  font-weight: 500;
}

.sectionThree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(../images/Group.svg);
  background-size: cover;
}
.sectionThree svg {
  position: absolute;
  z-index: 2;
}
.sectionThree .container {
  padding-top: 300px;
  margin-bottom: 400px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 75%;
  height: 100%;
  justify-content: space-around;
}
.sectionThree .container .content {
  width: 55%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sectionThree .container .content span {
  color: #1074D8;
  font-weight: 500;
}
.sectionThree .container .content h2 {
  font-weight: 700;
  font-size: xx-large;
}
.sectionThree .container .content p {
  color: #333333;
  font-weight: 300;
}
.sectionThree .container .content .progress {
  margin-top: 10px;
  flex-direction: column;
}
.sectionThree .container .content .progress div {
  display: flex;
  justify-content: space-between;
}
.sectionThree .container .content .progress div p {
  color: black;
  font-weight: 500;
}
.sectionThree .container .content .progress div span {
  color: #1074D8;
  font-weight: 500;
}
.sectionThree .container .content .progress .line {
  width: 100%;
  position: relative;
  height: 10px;
  background-color: lightgray;
  margin-bottom: 14px;
}
.sectionThree .container .content .progress .line .v1 {
  position: absolute;
  width: 90%;
  height: 10px;
  background-color: #1074D8;
}
.sectionThree .container .content .progress .line .v2 {
  position: absolute;
  width: 85%;
  height: 10px;
  background-color: #1074D8;
}
.sectionThree .container .content .progress .line .v3 {
  position: absolute;
  width: 70%;
  height: 10px;
  background-color: #1074D8;
}
.sectionThree .container .content .progress .line .v4 {
  position: absolute;
  width: 40%;
  height: 10px;
  background-color: #1074D8;
}
.sectionThree .container img {
  min-width: 300px;
}

.sectionFour {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
}
.sectionFour .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 70%;
  height: 100%;
  justify-content: space-around;
}
.sectionFour .container img {
  min-width: 250px;
}
.sectionFour .container .container {
  display: flex;
  flex-wrap: nowrap;
  row-gap: 20px;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.sectionFour .container .container span {
  color: #1074D8;
  font-weight: 500;
}
.sectionFour .container .container h2 {
  font-weight: 700;
  font-size: xx-large;
}
.sectionFour .container .container p {
  color: #333333;
  font-weight: 300;
}
.sectionFour .container .container .content {
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
}
.sectionFour .container .container .content div {
  display: flex;
  column-gap: 20px;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 40px;
  box-shadow: 14px 8px 20px 0px rgba(0, 0, 0, 0.0784313725);
}

.sectionFive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(../images/Vector-2.svg);
  background-size: cover;
}
.sectionFive svg {
  position: relative;
}
.sectionFive .container {
  padding-top: 300px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  width: 70%;
  height: 100%;
  flex-direction: column;
}
.sectionFive .container .content {
  margin-top: 20px;
  width: 70%;
  display: flex;
  column-gap: 20px;
  row-gap: 70px;
  flex-wrap: wrap;
}
.sectionFive .container .content .beidge {
  display: flex;
  width: 204px;
  height: 54px;
  align-items: center;
  column-gap: 5px;
}
.sectionFive .container .content .beidge div {
  display: flex;
  flex-direction: column;
}
.sectionFive .container .content .beidge div h2 {
  color: #1074D8;
  font-weight: 700;
}
.sectionFive .container .content .beidge div p {
  color: #1074D8;
  font-weight: 500;
}
.sectionFive .container h2 {
  font-weight: 700;
  font-size: xx-large;
  color: #1074D8;
}

.sectionSix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 40px;
}
.sectionSix .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  row-gap: 20px;
  width: 70%;
  height: 100%;
  flex-direction: column;
}
.sectionSix .container .content {
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
}
.sectionSix .container .content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  color: #1074D8;
  box-shadow: 14px 8px 20px 0px rgba(0, 0, 0, 0.0784313725);
}
.sectionSix .container h2 {
  font-weight: 700;
}
.sectionSix .container p {
  color: #1074D8;
  font-weight: 500;
}

.sectionSeven {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url(../images/Vector-3.svg);
  background-size: cover;
}
.sectionSeven svg {
  position: relative;
}
.sectionSeven .container {
  padding-top: 300px;
  margin-bottom: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  width: 80%;
  height: 100%;
  justify-content: space-around;
}
.sectionSeven .container .content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.sectionSeven .container .content h2 {
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}
.sectionSeven .container .content p {
  color: #fff;
  font-weight: 5000;
}
.sectionSeven .container .content form {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
.sectionSeven .container .content form input {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 270px;
}
.sectionSeven .container .content form button {
  color: #fff;
  margin-top: 30px;
  background-color: #1074D8;
  border-radius: 10px;
  font-weight: 500;
  width: 160px;
  border: none;
  padding: 15px 40px;
  cursor: pointer;
}
.sectionSeven .container .content form button:hover {
  background: #e6e6e6;
}
.sectionSeven .container .content #form-message {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}
.sectionSeven .container .content .error {
  background: #e74c3c;
  color: #fff;
}
.sectionSeven .container .content .success {
  background: #27ae60;
  color: #fff;
}
.sectionSeven .container img {
  min-width: 300px;
}

footer {
  background: linear-gradient(to right, #390696, #8C129A);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
